packages/NUnit.3.6.1/lib/net45/nunit.framework.xml
workshop/UMLs/Visios/class diagram bl only.vsdx
workshop/UMLs/Visios/class diagram.vsdx
workshop/UMLs/Visios/mine/create new game uc.vsdx
workshop/UMLs/Visios/mine/user  join games seq.vsdx
workshop/UMLs/Visios/mine/user find join spectate games activity.vsdx
workshop/UMLs/Visios/mine/user find join spectate games seq.vsdx
workshop/UMLs/Visios/mine/user spectate games seq.vsdx
workshop/UMLs/Visios/user leave game seq.vsdx
workshop/UMLs/Visios/user login seq.vsdx
workshop/UMLs/Visios/user logout seq.vsdx
workshop/UMLs/Visios/user profile edit seq.vsdx
workshop/UMLs/Visios/user registration seq.vsdx
workshop/UMLs/Visios/user replay game seq.vsdx
workshop/UMLs/pics/class diagram.jpg
workshop/UMLs/pics/mine/create new game uc.jpg
workshop/UMLs/pics/mine/user  join games seq.jpg
workshop/UMLs/pics/mine/user find join spectate games activity.jpg
workshop/UMLs/pics/mine/user find join spectate games seq.jpg
workshop/UMLs/pics/mine/user spectate games seq.jpg
workshop/UMLs/pics/user find active games seq.jpg
workshop/UMLs/pics/user leave game seq.jpg
workshop/UMLs/pics/user login seq.jpg
workshop/UMLs/pics/user logout seq.jpg
workshop/UMLs/pics/user profile edit seq.jpg
workshop/UMLs/pics/user registration seq.jpg
workshop/UMLs/pics/user replay game seq.jpg
workshop/use casses.docx
workshop/מטלה 0 - מאוחד סופי - אחרי עדכונים.docx
/.vs/TexasHoldem/v15/.suo
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
obj
bin
.vs
TexasHoldem.csproj.DotSettings
docs/מטלה 1 (3).docx
packages/Castle.Core.3.3.3/ASL - Apache Software Foundation License.txt
packages/Castle.Core.3.3.3/BreakingChanges.txt
packages/Castle.Core.3.3.3/Castle.Core.3.3.3.nupkg
packages/Castle.Core.3.3.3/Changes.txt
packages/Castle.Core.3.3.3/License.txt
packages/Castle.Core.3.3.3/lib/net35/Castle.Core.xml
packages/Castle.Core.3.3.3/lib/net40-client/Castle.Core.xml
packages/Castle.Core.3.3.3/lib/net45/Castle.Core.xml
packages/Castle.Core.3.3.3/lib/sl4/Castle.Core.xml
packages/Castle.Core.3.3.3/lib/sl5/Castle.Core.xml
packages/Moq.4.5.28/Moq.4.5.28.nupkg
packages/Moq.4.5.28/lib/net45/Moq.xml
packages/
/TexasHoldemTests/app.config
/TexasHoldemTests/app.config
TexasHoldemShared/packages.config
TexasHoldemTests/packages.config
packages.config
