<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="SadnaEntities" connectionString="metadata=res://*/Database.EntityNewTry.Sadna.csdl|res://*/Database.EntityNewTry.Sadna.ssdl|res://*/Database.EntityNewTry.Sadna.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BARI;initial catalog=DataBaseSadna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TexasHoldem.Properties.Settings.DataBaseSadnaConnectionString1"
      connectionString="Data Source=BARI;Initial Catalog=DataBaseSadna;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>
<!--
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
</configSections>
<connectionStrings>
  <add name="TexasHoldem.Properties.Settings.DataBaseSadna ConnectionString" connectionString="Data Source=BARI;Initial Catalog=DataBaseSadna;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="DataBaseSadnaEntities" connectionString="metadata=res://*/Database.mappingWntity.sadnaEntityModel.csdl|res://*/Database.mappingWntity.sadnaEntityModel.ssdl|res://*/Database.mappingWntity.sadnaEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ORELIE-PC\SQLEXPRESS;initial catalog=DataBaseSadna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DataBaseSadnaEntitiesNew" connectionString="metadata=res://*/Database.Model.DatabaseSadna.csdl|res://*/Database.Model.DatabaseSadna.ssdl|res://*/Database.Model.DatabaseSadna.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ORELIE-PC\SQLEXPRESS;initial catalog=DataBaseSadna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DataBaseSadnaEntitiesNewest" connectionString="metadata=res://*/Database.Model.databaseSadnaModel.csdl|res://*/Database.Model.databaseSadnaModel.ssdl|res://*/Database.Model.databaseSadnaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ORELIE-PC\SQLEXPRESS;initial catalog=DataBaseSadna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DataBaseSadnaEntities" connectionString="metadata=res://*/Database.NewEntity.sadanaEntityModel.csdl|res://*/Database.NewEntity.sadanaEntityModel.ssdl|res://*/Database.NewEntity.sadanaEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ORELIE-PC\SQLEXPRESS;initial catalog=DataBaseSadna;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>
<entityFramework>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>
</configuration>-->