USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[EditUserId]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditUserId]
       @NewUserId  int ,
       @oldUserId int
AS
BEGIN 
      SET NOCOUNT ON 

      UPDATE dbo.UserTable
      SET 
             userId   = @NewUserId
      FROM   dbo.UserTable
      WHERE  
      userId    = @oldUserId                  

END

GO
