USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[EditUserLeagueName]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditUserLeagueName]
       @UserId  int ,
       @newLeague int
AS
BEGIN 
      SET NOCOUNT ON 

      UPDATE dbo.UserTable
      SET 
             leagueName   = @newLeague
      FROM   dbo.UserTable
      WHERE  
      userId    = @UserId                  

END

GO
