USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUserId]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserByUserId] @userId int
AS
BEGIN 
     SET NOCOUNT ON 
SELECT *
FROM UserTable
WHERE userId = @userId
END

GO
