USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[EditUserHighestCashGainInGame]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditUserHighestCashGainInGame]
       @UserId  int ,
       @newHighestCashGainInGame int
AS
BEGIN 
      SET NOCOUNT ON 

      UPDATE dbo.UserTable
      SET 
             HighestCashGainInGame   = @newHighestCashGainInGame
      FROM   dbo.UserTable
      WHERE  
      userId    = @UserId                  

END

GO
