USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[EditUserIsActive]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditUserIsActive]
       @UserId  int ,
       @newIsActive bit
AS
BEGIN 
      SET NOCOUNT ON 

      UPDATE dbo.UserTable
      SET 
             inActive   = @newIsActive
      FROM   dbo.UserTable
      WHERE  
      userId    = @UserId                  

END

GO
