USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[EditAvatar]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditAvatar]
       @UserId  int ,
       @newAvatar varchar(50)
AS
BEGIN 
      SET NOCOUNT ON 

      UPDATE dbo.UserTable
      SET 
             avatar   = @newAvatar
      FROM   dbo.UserTable
      WHERE  
      userId    = @UserId                  

END

GO
