USE [DataBaseSadna]
GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 6/2/2017 3:26:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUser]
AS
BEGIN 
     SET NOCOUNT ON 
SELECT *
FROM UserTable

END

GO
